<div class="collection">
  <div class="collection-item"><span class="badge">{{retailersLength}}</span>Articles</div>
</div>
<div class="row">
  <div *ngFor="let retailer of retailers" class="col s6">
    <div class="card blue-grey darken-1 ">

      <div class="card-content white-text">
        <span class="card-title">{{retailer.title.rendered}}</span>
        <div [innerHTML]="retailer.excerpt.rendered"></div>
      </div>
      <div class="card-action">
        <a href="{{retailer.link}}" target="_blank">View Article</a>
      </div>
    </div>
  </div>
</div>